nav {
    h1.block-title a {
        color: var(--color-tertiary);
        font-size: var(--title-size-lg);
    }

    .navbar-toggler{
        background-color: var(--color-primary);
        color:var(--color-primary);
        box-shadow: none;
    }

    .navbar-collapse {
        .btn-register,.btn-logout, .btn-create-task {
            margin-left: .5rem;
        }

        &.show {
            .btn-login, .btn-my-tasks, .btn-register, .btn-logout, .btn-create-task{
                margin-left: 0;
                margin-bottom: .5rem;
            }
        }
    }
}