<header id="site-header">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <div class="title-area">
               <h1 class="block-title"> <a class="navbar-brand" routerLink="">Listado de Tareas </a> </h1>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse login-container" id="navMenu">
                <ul class="navbar-nav ms-auto">
                    <!-- GUEST -->
                    @if (!authService.isAuth()) {
                    <li class="nav-item btn-login">
                        <a class="btn btn-success" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
                    </li>
                    <li class="nav-item btn-register">
                        <a class="btn btn-primary" routerLink="/register" routerLinkActive="active">¿Nuevo usuario?</a>
                    </li>
                    <!-- AUTH -->
                    } @else {
                    <li class="nav-item btn-my-tasks">
                        <a class="btn btn-primary" [routerLink]="['/tasks/user', authService.userId()]"
                            routerLinkActive="active">Mis tareas</a>
                    </li>
                    <li class="nav-item btn-create-task">
                        <a class="btn btn-primary" routerLink="/tasks/create" routerLinkActive="active">Crear Tarea</a>
                    </li>
                    <li class="nav-item btn-logout">
                        <button class="btn btn-danger " (click)="onLogout()">Cerrar sesión</button>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>