<div class="card p-3 mb-3" >
    <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="badge">
            <span> {{ task.taskType | taskType }}</span>
        </span>

        <div class="d-flex align-items-center gap-2">
            <span class="badge d-inline-block" [ngClass]="{
            'bg-success':  task.taskPriority === 'Low',
            'bg-warning':  task.taskPriority === 'Medium',
            'bg-danger':   task.taskPriority === 'High',
            'bg-dark':     task.taskPriority === 'Critical'
            }"> {{ task.taskPriority | taskPriority }}</span>

        </div>

    </div>

    <h3 class="block-title" [class.completed]="task.taskStatus === 'Completed'">{{ task.title }}</h3>

    <span class="expiration-date"> Vence en: {{ task.expirationDate | daysLeft }} </span>

    <div class="d-flex mt-3 justify-content-between">
        <div class="d-flex gap-2">
            <!-- (click) llama a onStart() que emite el @Output() iniciar -->
            @if (task.taskStatus !== 'Completed' && task.taskStatus !== 'InProgress') {
            <button class="btn btn-primary btn-sm" (click)="onStart()" title="Iniciar">
                Iniciar
            </button>
            }

            <!-- (click) llama a onComplete() que emite el @Output() completar -->
            @if (task.taskStatus === 'InProgress' && (authService.isAdmin() || task.userId === authService.userId())) {
            <button class="btn btn-success btn-sm" (click)="onComplete()" title="Completar">
                Completar
            </button>
            }

            <button class="btn btn-outline-secondary btn-sm" (click)="onShowDetails()" title="Ver">
                Ver
            </button>

        </div>
        <div>
            @if (authService.isAdmin() || task.userId === authService.userId()) {
            <!-- (click) llama a onDelete() que emite el @Output() eliminar -->
            <button class="btn btn-danger btn-sm" (click)="onDelete()" title="Eliminar">
                Eliminar
            </button>
            }
        </div>
    </div>
    <div class="d-flex mt-3 justify-content-between">
        <a class="badge bg-user" title="{{task.username}}" [routerLink]="['/tasks/user', task.userId]" routerLinkActive="active">
            {{task.username}}
        </a>

        @if (authService.isAdmin() || task.userId === authService.userId()) {
        <button class="btn-edit" (click)="onEdit()" title="Editar"></button>
        }
    </div>
</div>