<div class="card p-3 mb-3">
    <div class="d-flex align-items-center justify-content-between mb-2 gap-5 ">
        <p class="card-title">{{ task.title }}</p>

    </div>
    <span class="badge bg-info ms-auto">{{ task.taskType | taskType }}</span>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="badge" [ngClass]="{
            'bg-success':   task.taskStatus === 'Completed',
            'bg-warning':   task.taskStatus === 'Pending',
            'bg-primary':   task.taskStatus === 'InProgress',
            'bg-secondary': task.taskStatus === 'Cancelled'
        }">
            {{ task.taskStatus | taskState }}
        </span>

        <span class="expiration-date"> {{ task.expirationDate | daysLeft }} </span>
    </div>
    <div class="d-flex mt-3 justify-content-between">
        <div class="d-flex gap-2">
            <!-- (click) llama a onStart() que emite el @Output() iniciar -->
            @if (task.taskStatus !== 'Completed' && task.taskStatus !== 'InProgress') {
            <button class="btn btn-primary btn-sm" (click)="onStart()">
                Iniciar
            </button>
            }

            <!-- (click) llama a onComplete() que emite el @Output() completar -->
            @if (task.taskStatus !== 'Completed' && task.taskStatus !== 'Pending') {
            <button class="btn btn-success btn-sm" (click)="onComplete()">
                Completar
            </button>
            }

            <button class="btn btn-success btn-sm" (click)="onShowDetails()">
                Ver
            </button>

        </div>
        <div class="justify-content-end d-flex">
            @if (authService.isAdmin() || task.userId === authService.userId()) {
            <!-- (click) llama a onDelete() que emite el @Output() eliminar -->
            <button class="btn btn-danger btn-sm" (click)="onDelete()">
                Eliminar
            </button>
            }
        </div>
    </div>
</div>