.card {
    border-left: 4px solid var(--color-primary);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.08);

    .badge {
        max-width: max-content;
        background-color: var(--color-secondary);
    }

    .bg-user {
        text-decoration: none;
        background: linear-gradient(90deg, var(--color-tertiary), var(--color-secondary));
        color: var(--color-background);
        border: 1px solid var(--color-tertiary);
        transition: 0.2s ease-in-out;
        text-transform: capitalize;

        &:hover {
            background: var(--color-background);
            color: var(--color-tertiary);
        }
    }

    .block-title {
        color: var(--color-tertiary);

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .block-title {
        &.completed {
            text-decoration: line-through;
        }
    }

    .btn-edit {
        border: 0;
        background: none;
        width: 24px;
        height: 24px;
        background-image: url('/pencil.svg');
        background-size: cover;
        transition: 0.2s ease-in-out;

        &:hover {
            background-image: url(/pencil-hover.svg);
        }
    }
}