.card {
    border-left: 4px solid #dee2e6;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.08);

    .badge {
        max-width: max-content;
    }

    .task-responsible {
        text-decoration: none;
        background-color: rgb(13 202 240);
        color: white;
        border: 1px solid transparent;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: white !important;
            border: 1px solid rgb(13 202 240) !important;
            color: rgb(13 202 240) !important;
        }
    }

    .btn-primary {
        background-color: var(--color-primary);

        &:hover {
            background-color: white !important;
            color: #0d6efd !important;
        }

    }

    .btn-success {
        &:hover {
            background-color: white !important;
            color: #198754 !important;
        }
    }

    .btn-danger {
        &:hover {
            background-color: white !important;
            color: #dc3545 !important;
        }
    }

    .btn-edit {
        border: 0;
        width: 24px;
        height: 24px;
        background-image: url('/pencil.png');
        background-size: cover;
        transition: 0.2s ease-in-out;


        &:hover {
            background-image: url(/pencil-hover.png);
        }
    }
}