<div class="tasks-list d-flex justify-content-between align-items-center mb-4">
    <div class="container">

        <div class="mb-3 d-flex justify-content-between align-items-center">
            <h2 class="mb-0">Mis tareas</h2>
            <span class="badge bg-warning text-dark">
                {{ taskService.totalTasks() }} totales
            </span>

        </div>

        <div class="tasks-list row">
            <div class="pending-tasks col-12 col-lg-4 col-md-6">
                <h3 class="block-title">Tareas pendientes:</h3>
                @for (task of taskService.pendingTasks(); track task.id) {
                <app-task-card [task]="task" (start)="onStart($event)" (delete)="onDelete($event)" />
                } @empty {
                    <p> No hay tareas pendientes.</p>
                }
            </div>
            <div class="inprogress-tasks col-12 col-lg-4 col-md-6">
                <h3 class="block-title">Tareas en progreso:</h3>
                @for (task of taskService.inProgressTasks(); track task.id) {
                <app-task-card [task]="task" (complete)="onComplete($event)" (delete)="onDelete($event)" />
                }@empty {
                    <p> No hay tareas en progreso.</p>
                }
            </div>
            <div class="completed-tasks col-12 col-lg-4 col-md-6">
                <h3 class="block-title">Tareas completadas:</h3>
                @for (task of taskService.completedTasks(); track task.id) {
                <app-task-card [task]="task" (delete)="onDelete($event)" />
                }@empty {
                    <p> No hay tareas completadas.</p>
                }
            </div>
        </div>
    </div>
</div>