<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-sm p-4" style="width: 360px">
        <div class="card-body">
            @if (error) {
            <div class="alert alert-danger py-2 mb-3">{{ error }}</div>
            }
            <h1 class="card-title mb-4 text-center">Crear cuenta</h1>
            <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label" for="username">Nombre de usuario</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="usuario123"
                        [(ngModel)]="username">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="usuario@empresa.com"
                        [(ngModel)]="email">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="password">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="birthdate">Fecha de nacimiento</label>
                    <input type="date" id="birthdate" name="birthdate" class="form-control" [(ngModel)]="birthdate">
                </div>
                <button type="submit" class="btn btn-primary w-100">Crear usuario</button>
            </form>
        </div>
    </div>
</div>