body {
    background: var(--color-background);

    h1.block-title {
        font-size: var(--title-size-lg);
    }

    h2.block-title {
        color: var(--color-tertiary);
        font-size: var(--title-size-md);
    }

    h3.block-title {
        color: var(--color-tertiary);
        font-size: var(--title-size-xs);
    }

    .arrow-back {
        position: relative;
        transition: 0.2s ease-in-out;
        text-decoration: none;
        padding-left: 2rem;
        color: var(--color-primary);
        font-weight: 600;

        &::before {
            position: absolute;
            width: 24px;
            height: 24px;
            content: '';
            background-image: url('/left-arrow.svg');
            background-size: cover;
            right: 55px;
        }

        &:hover {
            &::before {
                background-image: url('/left-arrow-hover.png');
            }
        }
    }

    .btn-primary,
    .btn-primary:disabled,
    .btn:focus-visible {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        box-shadow: none;

        &:hover {
            background-color: white !important;
            color: var(--color-primary);
            border-color: var(--color-primary);
        }

    }

    .btn.active {
        background-color: white !important;
        color: var(--color-primary);
        border-color: var(--color-primary);
    }

    .btn-success {
        &:hover {
            background-color: white !important;
            color: var(--color-primary) !important;
        }
    }

    .btn-danger {
        &:hover {
            background-color: white !important;
            color: #dc3545 !important;
        }
    }

    form {
        max-width: 600px;

        .block-title {
            text-align: center;
            color: var(--color-secondary);
        }

        .form-label {
            color: var(--color-secondary);
            margin-top: 0.5rem;
        }
    }
}

/* Escritorio ancho */
@media (min-width: 1280px) {}

/* Escritorio estándar */
@media (min-width: 1024px) {}

/* tablet y superiores */
@media (min-width: 768px) {}

/* solo tablet */
@media (min-width: 768px) and (max-width: 1023px) {}

/* solo móvil grande */
@media (max-width: 767px) {}

/* solo móvil estándar-pequeños */
@media (max-width: 344px) {
    .navbar-toggler{
        margin-bottom: 1rem;
    }
}