:root {
    --color-primary: #198754; 
    --color-secondary: #174c46;
    --color-tertiary: #107c8c;
    --color-background: #c8f0e8;
    --font-size-base: 16px;
    --font-size-md: calc(var(--font-size-base) * 0.8);
    --font-size-xs: calc(var(--font-size-base) * 0.65);
    --title-size-lg: calc(var(--font-size-base) * 2);
    --title-size-md: calc(var(--font-size-base) * 1.5);
    --title-size-xs: calc(var(--font-size-base) * 1.25);
    --bs-btn-font-size: 0.75rem;
}

@media (max-width: 768px) {
    .btn{
        --bs-btn-font-size: 0.75rem;
    }
}