:root {
    --color-primary: #107c8c;
    --color-secondary: #174c46;
    --font-size-base: 16px;
    --font-size-md: calc(var(--font-size-base) * 0.8);
    --font-size-xs: calc(var(--font-size-base) * 0.65);
    --title-size-lg: calc(var(--font-size-base) * 2);
    --title-size-md: calc(var(--font-size-base) * 1.5);
    --title-size-xs: calc(var(--font-size-base) * 1.25);
}